/* Add CSS Styling */
.para{
    background-color: pink;
    font-family:'Verdana','DejaVu Sans',sans-serif;
}

.div.second{
    color: blue;
    font-size: 36px;
}

.para.third{
    font-size: 24px;
}

#fourth{
    background-color: lightgreen;
    font-weight: bold;
    font-size: 24px;
}