body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 500px;
  display: block;
  background: #fff;
  margin: 16px auto;
  font-size: 16px;
  padding: 5px;
}

.title {
  background: #e3f4ff;
  font-size: 16px;
  padding: 10px;
}

.content {
  background: #e3f4ff;
  font-size: 16px;
  display: block;
  margin-bottom: 9px;
}

.button-container {
  background: #e3f4ff;
  font-size: 16px;
  margin: 0 auto;
  display: block;
  padding: 10px;
}

button {
  background: white;
  border: 1px solid #eee;
  font-size: 16px;
  display: block;
  margin: 0 auto;
  padding: 8px;
}


div .button-container{
  padding: 0 10px;
  text-align: center;
  padding-bottom: 8px;
  padding-top: 8px;
}